<%- include('partials/header'); -%>

<ul class="recipes">
  <li class="recipe">
    <img src="/burger.png" alt="burger recipe icon">
    <h4>Chicken Burger</h4>
    <p>Chicken, Tomato Sauce, Cheese</p>
  </li>
  <li class="recipe">
    <img src="/burger.png" alt="burger recipe icon">
    <h4>BBQ Chicken Burger</h4>
    <p>BBQ Chicken, Tomato Sauce, Cheese</p>
  </li>
  <li class="recipe">
    <img src="/burger.png" alt="burger recipe icon">
    <h4>Crispy Chicken Burger</h4>
    <p> Crispy Chicken, Tomato Sauce, Cheese</p>
  </li>
  <li class="recipe">
    <img src="/burger.png" alt="burger recipe icon">
    <h4>Chicken Burger</h4>
    <p>Chicken, Tomato Sauce, Cheese</p>
  </li>
  <li class="recipe">
    <img src="/burger.png" alt="burger recipe icon">
    <h4>BBQ Chicken Burger</h4>
    <p>BBQ Chicken, Tomato Sauce, Cheese</p>
  </li>
  <li class="recipe">
    <img src="/burger.png" alt="burger recipe icon">
    <h4>Crispy Chicken Burger</h4>
    <p> Crispy Chicken, Tomato Sauce, Cheese</p>
  </li>
</ul>

<%- include('partials/footer'); -%>