<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/burger.png" alt="">
  </div>
  <div class="headings">
    <h2>Burger Recipes</h2>
    <h3>By Mc Donald</h3>
    <a href="/burgers" class="btn">View Recipes</a>
  </div>
</header>


<%- include('partials/footer'); -%>